<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="samples-customizing-your-fhir-repo.ZPM">
    <Module>
      <Name>samples-customizing-your-fhir-repo</Name>
      <Version>1.0.0</Version>
      <Description>Various examples for customizing your InterSystems IRIS FHIR Repository </Description>
      <Keywords>FHIR,R4,IRIS for Health</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="HS.Local.FHIRServer.PKG"/>
			<Resource Name="Install.PKG"/>
      <Resource Name="MyFHIRServer.PKG"/>
			<FileCopy Name="data/fhir/" Target="${mgrdir}test-data-fhir/"/>
      <FileCopy Name="patientDiv.html" Target="${mgrdir}FHIR/"/>
      <Resource Name="GJ.PKG"/>
			<CSPApplication Url="/fhirUI" SourcePath="/fhirUI" DeployPath="{$cspdir}/fhirUI" ServeFiles="1" Recurse="1" CookiePath="/fhirUI"/>
			<Invokes>
				<Invoke Class="Install.Install" Method="SetupFHIRServer" Phase="Activate" When="After"/>
			</Invokes>
    </Module>
  </Document>
</Export>